<div class="ui-g">
  <!--<div class="ui-g-1">-->
    <!--<button type="button" pButton icon="fa-plus" label="Add"></button>-->
  <!--</div>-->

  <div class="ui-g-12">
    <div class="ui-widget-header ui-g">
      <div class="ui-sm-6 ui-md-10 ui-lg-10">
        <input #gb type="text" pInputText placeholder="Filtro Global">
      </div>
      <div class="ui-sm-6 ui-md-2 ui-lg-2 text-right">
        <button class="ui-button-secondary" type="button" pButton icon="fa-plus" label="Adicionar"></button>
      </div>
    </div>
    <!--<p-header>-->
      <!--&lt;!&ndash;<div class="ui-g-1">&ndash;&gt;-->
        <!--<button type="button" pButton icon="fa-plus" label="Add" style="width: 100px;"></button>-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</p-header>-->
    <p-dataTable [value]="posts" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                 [globalFilter]="gb" [sortField]="sortF" [sortOrder]="sortO" selectionMode="single"
                 [(selection)]="selectedPost1"
                 dataKey="id" [contextMenu]="cm">
      <p-column field="id" header="ID" [sortable]="true"></p-column>
      <p-column field="userId" header="UserID" [sortable]="true"></p-column>
      <p-column field="title" header="Title" [sortable]="true"></p-column>
      <!--<p-footer>-->
        <!--{{selectedPost1 ? selectedPost1.id : ''}}-->
      <!--</p-footer>-->
    </p-dataTable>
  </div>
  <p-contextMenu #cm [model]="items" appendTo="body"></p-contextMenu>
  <p-growl [value]="msgs"></p-growl>
</div>
