<div class="ui-g">
  <!--<div class="ui-g-1">-->
    <!--<button type="button" pButton icon="fa-plus" label="Add"></button>-->
  <!--</div>-->

  <div class="ui-g-12">
    <div class="ui-widget-header ui-g">
      <div class="ui-sm-6 ui-md-10 ui-lg-10">
        <input #gb type="text" pInputText placeholder="Filtro Global">
      </div>
      <div class="ui-sm-6 ui-md-2 ui-lg-2 text-right">
        <button class="ui-button-secondary" [routerLink]="['/dashboard/principal/pessoa/create']" type="button" pButton icon="fa-plus" label="Adicionar"></button>
      </div>
    </div>
    <p-dataTable [value]="pessoas" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                 [globalFilter]="gb" [sortField]="sortF" [sortOrder]="sortO" selectionMode="single"
                 [(selection)]="selectedPessoa"
                 dataKey="_id" [contextMenu]="cm">
      <!--<p-column field="_id" header="ID" [sortable]="true"></p-column>-->
      <p-column field="nome" header="Nome" [sortable]="true"></p-column>
      <p-column field="nascimento" header="Nascimento" [sortable]="true">
        <ng-template let-col let-pessoa="rowData" pTemplate="body">
          {{pessoa[col.field] | date:"dd/MM/yyyy"}}
          <!--<span [style.color]="pessoacar[col.field]">{{car[col.field]}}</span>-->
        </ng-template>
        <!--<template pTemplate="body" let-order="rowData">-->
          <!--{{nascimento | date:'shortDate''}}-->
        <!--</template>-->
      </p-column>
      <!--<p-footer>-->
        <!--{{selectedPost1 ? selectedPost1.id : ''}}-->
      <!--</p-footer>-->
    </p-dataTable>
  </div>
  <p-contextMenu #cm [model]="items" appendTo="body"></p-contextMenu>
  <p-growl [value]="msgs"></p-growl>

  <p-confirmDialog header="Confirmação" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
      <button type="button" class="ui-button-secondary" pButton icon="fa-close" label="Não" (click)="cd.reject()"></button>
      <button type="button" pButton icon="fa-check" label="Sim" (click)="cd.accept()"></button>
    </p-footer>
  </p-confirmDialog>
</div>
