<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!--<app-principal></app-principal>-->
<!--<div class="ui-g">-->
  <!--<div class="ui-g-12">-->
    <!--<p-tabView orientation="left">-->
      <!--<p-tabPanel header="Dashboard">-->
        <!--<p>Dashboard</p>-->
      <!--</p-tabPanel>-->
      <!--<p-tabPanel header="Principal">-->
        <!--<app-principal></app-principal>-->
      <!--</p-tabPanel>-->

      <!--&lt;!&ndash;<p-tabPanel header="Header 2">&ndash;&gt;-->
      <!--&lt;!&ndash;Content 2&ndash;&gt;-->
      <!--&lt;!&ndash;</p-tabPanel>&ndash;&gt;-->
      <!--&lt;!&ndash;<p-tabPanel header="Header 3">&ndash;&gt;-->
      <!--&lt;!&ndash;Content 3&ndash;&gt;-->
      <!--&lt;!&ndash;</p-tabPanel>&ndash;&gt;-->
    <!--</p-tabView>-->
  <!--</div>-->
  <!--&lt;!&ndash;<div class="ui-g-2">&ndash;&gt;-->
  <!--&lt;!&ndash;<button type="button" pButton (click)="onLogOut()" icon="fa-close" label="Logout"></button>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>  &ndash;&gt;-->
  <!--&lt;!&ndash;<div class="ui-g-2">&ndash;&gt;-->
  <!--&lt;!&ndash;<button type="button" pButton (click)="onTesteToken()" icon="fa-close" label="Teste"></button>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<p>{{retorno}}</p>&ndash;&gt;-->
<!--</div>-->
